<%- include header%>
<form method="post">
	UserName:<input type="text" name="name" /><br/>
	Passwowrd:<input type="password" name="password"/><br/>
	Repeat passwowrd:<input type="password" name="repeatPassword"/><br/>
	E-mail:<input type="email" name="email"/><br/>
	<input type="submit" value="register"/>
</form>
<%-include footer%>